{% extends 'gallery_app/base.html'%} {%block content%}

<h1 class="bg-info">welcome</h1>

<div class="container-fluid gallery-section mt-1">
  <h2 class="text-center"><span>Our Gallery</span></h2>
  <div class="container-fluid">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for image in images %}
        <div class="col">
          <div class="card">
            <img
              src="{{image.gallery_image.url}}"
              data-mdb-toggle="modal" data-mdb-target="#{{image.id}}"
              class="card-img-top img-responsive"
              style="height: 15rem"
              alt=""
            />
            <p>{{image.image_category}}</p>
          </div>
          <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop">
            Launch static backdrop modal
          </button>
        </div>


        <!-- Button trigger modal -->


<!-- Modal -->


        {% endfor %}
      </div>

    </div>
  </div>
</div>



{% endblock %}
